.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.header{
    display: flex;
    justify-content: space-between;
} 
.name{
    font: bold;
    font-size: 30px;
    margin: 50px 0px 0px 150px;
}
.download-button{
    border-radius: 10px;
    font-size: 20px;
    margin: 38px 150px;
    padding: 17px 24px 17px 24px;
    font-weight: bold;
}

/* main part */

.banner-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 900px;
}
.banner-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.banner-dream{
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-description{
    font-size: 20px;
}

.group-image{
    width: 300px;
    height: 300px;
    left: 449.895px;
    right: 449.895px;
}
.button-contact{
    border-radius: 10px;
    font-size: 25px;
    height: 80px;
    width: 300px;
    margin-top: 80px;
    background-color: #0D1321;
    color: white;
    letter-spacing: 3px;
}



/* second part */

.second-mother{
    height: 1200px;
    width: 1400px;
    margin-left: 13%;
    margin-top: 60px;
    background-color: #FAFAFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.second-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 1240px;
}
.why-web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 852px;
    height: 113px;
}

.third-banner{
    margin-top: 80px;
    color: #565A64;
}


.why-web-head{
    font-size: 32px;
}
.why-web-description{
    font-size: 16px;
}

.b1{
    display: flex;
    gap: 200px;
    width: 1000px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
}
.para-2-mother{
    width: 850px;
    height: 240px;
    padding: 35px 30px;
}
.para-2-head{
    font-size: 24px;


}
.para-2{
    font-size: 16px;
}



.b2{
    margin-top: 25px;
    display: flex;
    gap: 50px;
    width: 1000px;
    height: 300px;
    background-color: white;

}
.para-3-mother{
    width: 500px;
    height: 240px;
    padding: 35px 30px;
    

}
.para-3-head{
    font-size: 24px;

}
.para-3{
    font-size: 16px;

}



.b3{
    margin-top: 25px;
    display: flex;
    gap: 200px;
    width: 1000px;
    height: 300px;
    background-color: white;
}
.para-4-mother{
    width: 850px;
    height: 240px;
    padding: 35px 30px;

}
.para-4-head{
    font-size: 24px;

}
.para-4{
    font-size: 16px;

} 

.btn{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #565A64;
}

.inspiration{
    margin-top: 30px;
    height: 775px;
    width: 1140px;
    margin-left: 20%;
}
.ins-child{
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
    margin-top: 5px;
}

.ins-head{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ins-des{
    font-size: 16px;
    margin-bottom: 50px;
}
.player{
    margin-top: 5%;
    box-sizing:1100px 600px;
    border-radius: 16px;
    margin-top: 50px;
    height: 614px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #cfd0d3;
}
.video{
    margin-left: 10px;
}

/* Third part */
.target-mother{
    margin-top: 5%;
}
.btn-2{
    font-size: 16px;
    color: #0D1321;
    font-weight: 800;
    border: none;
    background-color: transparent;
    color: #0D1321;

}
.target-child-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skill-mother{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.skill-child-1{
    width: 364px;
    height: 300px;
    background-color: #FFF6f3;
    padding: 30px;
    border-radius: 20px;

}
.skill-child-2{
    width: 364px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    background-color: #F2F6FE;
}
.skill-child-3{
    width: 364px;
    height: 300px;
    background-color: #FFFDF2;
    padding: 30px;
    border-radius: 20px;
}

/* Forth part */

.forth-mother{
    background-image: url(../assets/handshake.jpg);
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    border: none;
    margin-left: 20%;
}

.forth-child{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
.text-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit{
    width: 120px;
    height: 57px;
    margin-left: 24px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.big-text-box{
    width: 548px;
    height: 57px;
    border-radius: 8px;
    border: none;
}

/* Footer */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 79px;

}

.ul{
    margin-right: 150px;
    gap: 24px;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.commitment{
    margin-left: 150px;
    font: 20px;
    font-weight: bold;
    height: 23px;
    width: 456px;
}
