.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.header{
    display: flex;
    justify-content: space-between;
} 
.name{
    font: bold;
    font-size: 30px;
    margin: 50px 0px 0px 150px;
}
.download-button{
    border-radius: 10px;
    font-size: 20px;
    margin: 38px 150px;
    padding: 17px 24px 17px 24px;
    font-weight: bold;
}

/* main part */

.banner-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 900px;
}
.banner-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.banner-dream{
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-description{
    font-size: 20px;
}

.group-image{
    width: 300px;
    height: 300px;
    left: 449.895px;
    right: 449.895px;
}
.button-contact{
    border-radius: 10px;
    font-size: 25px;
    height: 80px;
    width: 300px;
    margin-top: 80px;
    background-color: #0D1321;
    color: white;
    letter-spacing: 3px;
}



/* second part */

.second-mother{
    height: 1200px;
    width: 1400px;
    margin-left: 25%;
    margin-top: -50px;

}

.second-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 1240px;
}
.why-web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 852px;
    height: 113px;
}

.third-banner{
    margin-top: 80px;
}


.why-web-head{
    font-size: 32px;
}
.why-web-description{
    font-size: 16px;
}

.b1{
    display: flex;
    /* border: 2px solid red; */
    /* justify-content: center; */
    gap: 200px;
    width: 1000px;
    height: 300px;
}
.para-2-mother{
    /* display: flex;
    flex-direction: column; */
    width: 850px;
    height: 240px;
}
.para-2-head{
    font-size: 24px;


}
.para-2{
    font-size: 16px;
}



.b2{
    display: flex;
    gap: 50px;
    width: 1000px;
    height: 300px;

}
.para-3-mother{
    width: 850px;
    height: 240px;

}
.para-3-head{
    font-size: 24px;

}
.para-3{
    font-size: 16px;

}



.b3{
    display: flex;
    gap: 200px;
    width: 1000px;
    height: 300px;
}
.para-4-mother{
    width: 850px;
    height: 240px;

}
.para-4-head{
    font-size: 24px;

}
.para-4{
    font-size: 16px;

}

.btn{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.inspiration{
    height: 775px;
    width: 1140px;
    margin-left: 25%;
}
.ins-child{
    width: 852px;
    height: 113px;
}

.ins-head{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.ins-des{
    font-size: 16px;
    margin-bottom: 50px;
}
.player{
    box-sizing:1100px 600px;
    border: 1px solid #DADBDD;
    border-radius: 16px;
    margin-top: 50px;
}

/* Third part */
.target-mother{
    margin-top: 5%;
}
.btn-2{
    font-size: 16px;
    color: #0D1321;
    font-weight: 800;
    border: none;
    background-color: transparent;
    color: #0D1321;

}
.target-child-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skill-mother{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.skill-child-1{
    width: 364px;
    height: 300px;
    background-color: #FFF6f3;
    padding: 30px;
    border-radius: 20px;

}
.skill-child-2{
    width: 364px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    background-color: #F2F6FE;
}
.skill-child-3{
    width: 364px;
    height: 300px;
    background-color: #FFFDF2;
    padding: 30px;
    border-radius: 20px;
}